$pc: 1100px; 
$tab: 800px; 
$sp: 580px;  

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin nav {
  @media (min-width: ($sp)) {
    @content;
  }
}