@charset "utf-8";
@import './mixin';

// about 基本設定
#about{
  overflow: hidden;
  .about-me{
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    @include pc {
      font-size: 20px;
    }
    @include tab {
      font-size: 16px;
    }
    @include sp {
      display: block;
    }
    #about-img{
      width: 30%;
      @include tab {
        width: 35%;
      }
      @include sp {
        width: 80%;
      }
    }
    .text-box{
      width: 55%;
      margin: auto 0;
      @include tab {
        width: 85%;
      }
      @include sp {
        margin: 0 auto;
      }
      .text{
        text-align: left;
        margin: 0 auto 15px;
        @include sp {
          text-align: center;
        }
        .name{
          margin-bottom: 15px;
          display: inline-block;
          @include tab {
            font-size: 14px;
          }
          span{
            font-size: 24px;
            @include pc {
              font-size: 16px;
            }
            @include tab {
              font-size: 12px;
            }
          }
        }
        p{
          font-size: 20px;
          padding: 2px;
          @include pc {
            font-size: 16px;
          }
          @include tab {
            font-size: 12px;
          }
          @include sp {
            text-align: justify;
          }
          span{
            display: inline-block;
          }
        }
      }
    }
  }
}


// about スクロール後の挙動設定
.about-me{
  #about-img{
    opacity: 0;
    &.scroll-in{
    animation: zoomIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
    opacity: 1;
   } 
  }
  .text-box{
    .text{
      .name, p{
        opacity: 0;
        transition-duration: 1600ms;
        transition-property: opacity, transform;
      }
      .name.scroll-in,p.scroll-in{
        opacity: 1;
        transform: translate(0,0);
      }
      .name.scroll-in:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid #C9D6DF;
        animation: border_anim 0.8s linear forwards; //border_anim section-title ./common.scssにある
      }
    }
  }
}

@keyframes zoomIn{
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}