@charset "utf-8";
@import './mixin';

footer{
  background-color: rgb(240, 245, 249, 0.5);
  margin-top: 50px;
  padding: 30px 0 30px 0;
  .footer-box{
    display: flex;
    justify-content: space-between;
    p{
      padding-left: 20px;
    }
    .icon-box{
      display: flex;
      i{
        font-size: 20px;
        padding-right: 20px;
        @include sp {
          font-size: 16px;
        }
      }
    }
  }
}