@charset "utf-8";
@import './mixin';
@import './header.css';
@import './common.css';
@import './footer.css';

// more-main

.title-wrapper{
  position: relative;
  height: 300px;
  z-index: 20;
  @include tab {
    height: 150px;
  }
  @include sp {
    height: 80px;
  }
  #title{
    display: flex;
    position: absolute;
    left: 50%;
    top: 70%;
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
    letter-spacing: 6px;
    color:#C9D6DF;
    @include tab {
      font-size: 50px;
      top: 100%;
    }
    @include sp {
      font-size: 30px;
      top: 130%;
    }
    span{
      display: block;
      transform: translate(0, 100%);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      @for $i from 1 through 13 {
        &:nth-child(#{$i + 1}) {
          $delay: $i * 0.07 + s;
          transition-delay: $delay;
        }
      }
    }
    &.-visible{
      span{
        transform: translate(0, 0);
      }
    }
    &.-delay{
      span{
        transform: translate(0, 0);
        background:url(../img/color3.jpeg);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: shine_pc 8s linear infinite;
        @include tab {
          animation: shine_tab 8s linear infinite;
        }
        @include sp {
          animation: shine_sp 9s linear infinite;
        }
      }
    }
  }
}

@keyframes shine_pc {
  from {
    background-position: center 70%;
  }
  to {
    background-position: center 265%;
  }
}
@keyframes shine_tab {
  from {
    background-position: center 50%;
  }
  to {
    background-position: center 170%;
  }
}
@keyframes shine_sp {
  from {
    background-position: center 50%;
  }
  to {
    background-position: center 150%;
  }
}


// about

@import './about.css'; //about 共通設定のみ別ファイルに。

// Career

.career-box{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100px;
  text-align: left;
  @include tab {
    height: 150px;
  }
  @include sp {
    height: 200px;
  }
  .point {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #F0F5F9;
    border-radius: 50%;
    transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1) .4s;
    cursor: pointer;
    &.scroll-in{
      background-color: #52616B;
      &:after {
        animation: pulseMotion 2.5s linear infinite;
      }
    }
    &:focus {
      outline: none;
    }
    &:after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: opacity linear 0.4s;
      content: '';
    }
    .point-line{
      content          : " ";
      height           : 0px;
      width            : 10px;
      background-color:#C9D6DF;
      position         : absolute;
      top              : 20px;
      left             : 50%;
      transform        : translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform    : translateX(-50%);
      &.scroll-in{
        height   : 100px;
        animation: pointline1 1.0s forwards linear;
        @include tab {
          animation: pointline3 2.0s forwards linear;
        }
      }
    }
  }
  .career-text{
    margin-left: 60px;
    width: 50%;
    @include sp {
      font-size: 14px;
    }
  }
}

.career-box:last-child .point-line.scroll-in{
  animation: pointline2 0.5s forwards linear;
  @include tab {
    animation: pointline1 2.0s forwards linear;
  }
}


@keyframes pulseMotion {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    background-color: rgba(240, 245, 249, 0.7)
  }
  100% {
    transform: translate(-50%, -50%) scale(6.5, 6.5);
    background-color: rgba(240, 245, 249, 0)
  }
}

@keyframes pointline1 {
  0% {
      height: 0px;
  }
  100% {
      height: 200px;
  }
}
@keyframes pointline3 {
  0% {
      height: 0px;
  }
  100% {
      height: 400px;
  }
}
@keyframes pointline2 {
  0% {
      height: 0px;
  }
  100% {
      height: 100px;
  }
}


// strength

#strength{
  .strength-area{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    opacity: 0;
    transition-duration: 1600ms;
    transition-property: opacity, transform;
    @include tab {
      display: block;
    }
    &.scroll-in{
      opacity: 1;
    }
    .strength-box{
      width: 30%;
      @include tab {
        width: 80%;
        margin: 0 auto;
      }
      .strength-title{
        font-size: 18px;
        @include sp {
          font-size: 16px;
        }
      }
      .strength-text{
        text-align: left;
        margin-top: 20px;
        text-align: justify;
        @include sp {
          font-size: 14px;
        }
      }
    }
  } 
}