@import './header.css';
@import './common.css';
@import './footer.css';
@import './about.css';
.title-box {
  position: relative;
  height: 300px;
  z-index: 20;
}
@media (max-width: 800px) {
  .title-box {
    height: 150px;
  }
}
@media (max-width: 580px) {
  .title-box {
    height: 60px;
  }
}
.title-box #title {
  top: 90%;
  margin: 0;
  color: #C9D6DF;
}
@media (max-width: 800px) {
  .title-box #title {
    top: 120%;
  }
}
@media (max-width: 580px) {
  .title-box #title {
    top: 150%;
  }
}
.title-box #title.-delay span {
  transform: translate(0, 0);
  background: url(../img/color3.jpeg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: move-color_pc 8s linear infinite;
}
@media (max-width: 800px) {
  .title-box #title.-delay span {
    animation: move-color_tab 8s linear infinite;
  }
}
@media (max-width: 580px) {
  .title-box #title.-delay span {
    animation: move-color_sp 9s linear infinite;
  }
}

@keyframes move-color_pc {
  from {
    background-position: center 70%;
  }
  to {
    background-position: center 265%;
  }
}
@keyframes move-color_tab {
  from {
    background-position: center 50%;
  }
  to {
    background-position: center 170%;
  }
}
@keyframes move-color_sp {
  from {
    background-position: center 50%;
  }
  to {
    background-position: center 150%;
  }
}
.career-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100px;
  text-align: left;
}
@media (max-width: 800px) {
  .career-box {
    height: 150px;
  }
}
@media (max-width: 580px) {
  .career-box {
    height: 200px;
  }
}
.career-box .point {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #F0F5F9;
  border-radius: 50%;
  transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  cursor: pointer;
}
.career-box .point.scroll-in {
  background-color: #52616B;
}
.career-box .point.scroll-in:after {
  animation: pulseMotion 2.5s linear infinite;
}
.career-box .point:focus {
  outline: none;
}
.career-box .point:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity linear 0.4s;
  content: "";
}
.career-box .point .point-line {
  content: " ";
  height: 0px;
  width: 10px;
  background-color: #C9D6DF;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.career-box .point .point-line.scroll-in {
  height: 100px;
  animation: pointline1 1s forwards linear;
}
@media (max-width: 800px) {
  .career-box .point .point-line.scroll-in {
    animation: pointline3 2s forwards linear;
  }
}
.career-box .career-text {
  margin-left: 60px;
  width: 50%;
  opacity: 0;
  text-align: justify;
}
@media (max-width: 580px) {
  .career-box .career-text {
    font-size: 12px;
  }
}
.career-box .career-text.scroll-in {
  opacity: 1;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
  animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.career-box:last-child .point-line.scroll-in {
  animation: pointline2 0.5s forwards linear;
}
@media (max-width: 800px) {
  .career-box:last-child .point-line.scroll-in {
    animation: pointline1 2s forwards linear;
  }
}

@keyframes pulseMotion {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    background-color: rgba(240, 245, 249, 0.7);
  }
  100% {
    transform: translate(-50%, -50%) scale(6.5, 6.5);
    background-color: rgba(240, 245, 249, 0);
  }
}
@keyframes pointline1 {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}
@keyframes pointline3 {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}
@keyframes pointline2 {
  0% {
    height: 0px;
  }
  100% {
    height: 100px;
  }
}
#strength .strength-area {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  opacity: 0;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
@media (max-width: 800px) {
  #strength .strength-area {
    display: block;
  }
}
#strength .strength-area.scroll-in {
  animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
#strength .strength-area .strength-box {
  width: 30%;
}
@media (max-width: 800px) {
  #strength .strength-area .strength-box {
    width: 80%;
    margin: 0 auto;
  }
}
#strength .strength-area .strength-box .strength-title {
  font-size: 18px;
}
@media (max-width: 580px) {
  #strength .strength-area .strength-box .strength-title {
    font-size: 14px;
  }
}
#strength .strength-area .strength-box .strength-text {
  text-align: left;
  margin-top: 20px;
  text-align: justify;
}
@media (max-width: 580px) {
  #strength .strength-area .strength-box .strength-text {
    font-size: 12px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}/*# sourceMappingURL=more.css.map */