
@import './minxin';

#load {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #C9D6DF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  #following{
    width: 100px;
    height: 100px;
    margin: 500px auto;
    // background-color: #fff;
    position: relative;
    // transition-property: opacity, transform;
    // transition-duration: 15s;
    animation: sk-chase 2.5s infinite linear both;
    .dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; 
      animation: sk-chase-dot 2.0s infinite ease-in-out both; 
      &:before{
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: #fff;
        border-radius: 100%;
        animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
      }
      // @for $i from 1 through 6 {
      //   &:nth-child(#{$i}) {
      //     $delay: -1.2 + ($i * 0.1)s;
      //     transition-delay: $delay;
      //   }
      //   &:before{
      //   $delay: -1.2 + ($i * 0.1)s;
      //   transition-delay: $delay;
      //   }
      // }
    }
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

// header
header{
  position: fixed;
  width: 100%;
  z-index: 50;
}

#page-header {
  opacity: 0;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(240, 245, 249, 0.5);
  font-size: 16px;
  transform: translateX(100%); 
  transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
  @include sp {
    padding: 10px;
    background-color: transparent;
    text-align: right;
  }
    ul{
      display: flex;
      justify-content: space-around;
      @include sp {
        display: inline-block;
      }
      li{
        @include sp {
          margin-top: 10px;
        }
      }
    }
}
#page-header.-delay{
  animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

// header display表示　animation
@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



/* ハンバーガーメニュー */
.hamburger-box{
  @include sp {
    width: 40px;
    height: 40px;
    margin-left: auto;
    text-align: center;
    background-color: rgb(240, 245, 249, 0.5);
  }
}

.header__hamburger {
  width: 24px;
  height: 100%;
  background-color: #52616B;
  margin: 0 auto;
}

.hamburger {
  // background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  z-index: 9999;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #52616B;
  position: relative;
  transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}

.hamburger span:nth-child(1) {
  top:  0;
}

.hamburger span:nth-child(2) {
  top: 0;
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}

/* ヘッダーのナビ部分 */
.nav{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: ease .4s;
  @include sp {
    text-align: center;
    background-color: #F0F5F9;
  }
}
@media screen and (min-width: 580px) {
  .nav {
    position: static;
    transform: initial;
    height: inherit;
  }
}


/*PC時のナビゲーションメニュー、横並びにする*/
@media screen and (min-width: 580px) {
  .nav__lists {
    width: 100%;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-list {
padding-top: 100px;
padding-bottom: 100px;
}
@media screen and (min-width: 580px) {
.nav-list {
   padding-top: inherit;
   padding-bottom: inherit;
  }
}


/*ハンバーガーメニュー*/
.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}
@media screen and (min-width: 580px) {
  /*PC時非表示にする*/
  .hamburger {
    display: none;
  }
}






// more-main

.title-wrapper{
  // background-color: rgb(240, 245, 249, 0.5);
  position: relative;
  height: 350px;
  z-index: 20;
  #main-title{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
    letter-spacing: 6px;
    color:#C9D6DF;
    span{
      display: block;
      transform: translate(0, 100%);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      @for $i from 1 through 13 {
        &:nth-child(#{$i + 1}) {
          $delay: $i * 0.07 + s;
          transition-delay: $delay;
        }
      }
    }
    @keyframes shine {
      from {
        background-position: center 80%;
      }
      to {
        background-position: center 280%;
      }
    }
  }
}

#main-title.-visible{
  span{
    transform: translate(0, 0);
    // background:url(../img/water.jpeg);
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;
    // animation: shine 10s linear infinite;
  }
}

#main-title.-delay{
  span{
    transform: translate(0, 0);
    background:url(../img/color3.jpeg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 8s linear infinite;
  }
}

// section 共通

// section title
.section-title{
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  display: inline-block;
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
  transform: translate(-50px,0);
  @include pc {
    font-size: 30px;
  }
  @include sp {
    font-size: 20px;
  }
}
.section-title.scroll-in{
  opacity: 1;
  transform: translate(0,0);
}
.section-title.scroll-in:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #52616B;
  animation: border_anim 0.5s linear forwards;
  @include sp {
    border-bottom: 3px solid #52616B;
  }
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

// about textまで

#about{
  overflow: hidden;
  .about-me{
    font-size: 30px;
    display: flex;
    justify-content: center;
    @include pc {
      font-size: 20px;
    }
    @include tab {
      font-size: 16px;
    }
    @include sp {
      display: block;
    }
    img{
      width: 40%;
      @include sp {
        width: 80%;
      }
    }
    .text-box{
      width: 50%;
      margin: auto 0;
      @include sp {
        width: 90%;
        margin: 0 auto;
      }
      .text{
        text-align: left;
        margin-bottom: 15px;
        @include sp {
          text-align: center;
        }
        .name{
          margin-bottom: 15px;
          display: inline-block;
          span{
            font-size: 24px;
            @include pc {
              font-size: 16px;
            }
            @include tab {
              font-size: 12px;
            }
          }
        }
        p{
          font-size: 20px;
          padding: 2px;
          @include pc {
            font-size: 14px;
          }
          @include tab {
            font-size: 10px;
          }
        }
      }
    }
  }
}

// about text スクロール後に表示
.about-me{
  .text-box{
    .text{
      .name, p{
        opacity: 0;
        transition-duration: 1600ms;
        transition-property: opacity, transform;
      }
      .name.scroll-in,p.scroll-in{
        opacity: 1;
        transform: translate(0,0);
      }
      .name.scroll-in:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid #C9D6DF;
        animation: border_anim 0.8s linear forwards; //border_anim section-titleのところに
      }
    }
  }
}


// Career

// .yellow_circle {
//   // position : relative;
//   // color: red;
//   // margin: 0 auto;
//   // font-size: 30px;
//   .yellow_circle_line {
//       content          : " ";
//       height           : 0px;
//       width            : 10px;
//       background-color:red;
//       position         : absolute;
//       // top              : 6px;
//       left             : 50%;
//       transform        : translateX(-50%);
//       -webkit-transform: translateX(-50%);
//       -ms-transform    : translateX(-50%);
//   }
// }
// .yellow_circle_line {
//     height: 0px;
// }
 
// .yellow_circle_line.active {
//     height   : 300px;
//     animation: yellow_circle 2.0s forwards linear;
// }
 







@keyframes pulseMotion {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    background-color: rgba(240, 245, 249, 0.7)
  }
  100% {
    transform: translate(-50%, -50%) scale(6.5, 6.5);
    background-color: rgba(240, 245, 249, 0)
  }
}

@keyframes pointline1 {
  0% {
      height: 0px;
  }

  100% {
      height: 200px;
  }
}

@keyframes pointline2 {
  0% {
      height: 0px;
  }

  100% {
      height: 100px;
  }
}



.career-box{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100px;
  text-align: left;
  .point {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    // margin: 200px 0px;
    background-color: #F0F5F9;
    border-radius: 50%;
    transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1) .4s;
    cursor: pointer;
    .point-line{
      content          : " ";
      height           : 0px;
      width            : 10px;
      background-color:#C9D6DF;
      position         : absolute;
      top              : 20px;
      left             : 50%;
      transform        : translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform    : translateX(-50%);
    }
  }
  .career-text{
    margin-left: 60px;
    width: 50%;
  }
}


.point-line{
  height: 0;
}

.point.scroll-in{
  background-color: #52616B;
}

.point-line.scroll-in{
  height   : 100px;
  animation: pointline1 1.0s forwards linear;
}

.career-box:last-child .point-line.scroll-in{
  animation: pointline2 0.5s forwards linear;
}

.point.scroll-in:after {
  animation: pulseMotion 1.4s linear infinite;
}

.point:focus {
  outline: none;
}

.point:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity linear 0.4s;
  content: '';
}


// strength

#strength{
  .strength-area{
    margin-top: 100px;
    display: flex;
  }
}