
// header
header{
  position: fixed;
  width: 100%;
  z-index: 50;
}

.page-header {
  margin: 0 auto;
  padding: 24px;
  background-color: rgb(240, 245, 249, 0.5);
  font-size: 20px;
    ul{
      display: flex;
      justify-content: space-around;
    }
  }

// main

// main {

// }

.main-img{
  position: relative;
  z-index: 10;
  #title{
    display: flex;
    overflow: hidden;
    font-size: 70px;
    position: absolute;
    text-align: center;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #52616B;
    font-weight: bold;
    letter-spacing: 6px;
    // background-color: rgb(240, 245, 249, 0.3);
    span{
      display: block;
      transform: translate(0, 105%);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      @for $i from 1 through 17 {
        &:nth-child(#{$i + 1}) {
          $delay: $i * 0.15 + s;
          transition-delay: $delay;
        }
      }
    }

  }
  #title.-visible{
    span{
      transform: translate(0, 0);
    }
  }

}
