#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #C9D6DF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#loading #following-dot {
  width: 100px;
  height: 100px;
  margin: 500px auto;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}
#loading #following-dot .dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}
#loading #following-dot .dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 50;
}

#page-header {
  opacity: 0;
  margin: 0 auto;
  padding: 24px;
  background-color: rgba(240, 245, 249, 0.5);
  font-size: 16px;
}
#page-header ul {
  display: flex;
  justify-content: space-around;
}

#page-header.-delay {
  animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.main-img {
  position: relative;
  z-index: 10;
}
.main-img #title {
  display: flex;
  overflow: hidden;
  font-size: 70px;
  position: absolute;
  text-align: center;
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #52616B;
  font-weight: bold;
  letter-spacing: 6px;
  z-index: 30;
}
@media (max-width: 1100px) {
  .main-img #title {
    font-size: 50px;
  }
}
@media (max-width: 580px) {
  .main-img #title {
    font-size: 20px;
  }
}
.main-img #title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.main-img #title span:nth-child(2) {
  transition-delay: 0.07s;
}
.main-img #title span:nth-child(3) {
  transition-delay: 0.14s;
}
.main-img #title span:nth-child(4) {
  transition-delay: 0.21s;
}
.main-img #title span:nth-child(5) {
  transition-delay: 0.28s;
}
.main-img #title span:nth-child(6) {
  transition-delay: 0.35s;
}
.main-img #title span:nth-child(7) {
  transition-delay: 0.42s;
}
.main-img #title span:nth-child(8) {
  transition-delay: 0.49s;
}
.main-img #title span:nth-child(9) {
  transition-delay: 0.56s;
}
.main-img #title span:nth-child(10) {
  transition-delay: 0.63s;
}
.main-img #title span:nth-child(11) {
  transition-delay: 0.7s;
}
.main-img #title span:nth-child(12) {
  transition-delay: 0.77s;
}
.main-img #title span:nth-child(13) {
  transition-delay: 0.84s;
}
.main-img #title span:nth-child(14) {
  transition-delay: 0.91s;
}
.main-img #title span:nth-child(15) {
  transition-delay: 0.98s;
}
.main-img #title span:nth-child(16) {
  transition-delay: 1.05s;
}
.main-img #title span:nth-child(17) {
  transition-delay: 1.12s;
}
.main-img #title span:nth-child(18) {
  transition-delay: 1.19s;
}
.main-img img {
  opacity: 0;
  z-index: 20;
}
.main-img img.-delay {
  animation: fadeIn 5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
.main-img #title.-visible span {
  transform: translate(0, 0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
.section-title {
  font-size: 40px;
  letter-spacing: 1px;
  display: inline-block;
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
  transform: translate(-50px, 0);
}
@media (max-width: 1100px) {
  .section-title {
    font-size: 30px;
  }
}
@media (max-width: 580px) {
  .section-title {
    font-size: 26px;
  }
}

.section-title.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.section-title.scroll-in:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #52616B;
  animation: border_anim 0.5s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#about {
  overflow: hidden;
}
#about .about-me {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1100px) {
  #about .about-me {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  #about .about-me {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  #about .about-me {
    display: block;
  }
}
#about .about-me img {
  width: 40%;
}
@media (max-width: 580px) {
  #about .about-me img {
    width: 80%;
  }
}
#about .about-me .text-box {
  width: 50%;
  margin: auto 0;
}
@media (max-width: 580px) {
  #about .about-me .text-box {
    width: 90%;
    margin: 0 auto;
  }
}
#about .about-me .text-box .text {
  text-align: left;
  margin-bottom: 15px;
}
@media (max-width: 580px) {
  #about .about-me .text-box .text {
    text-align: center;
  }
}
#about .about-me .text-box .text .name {
  margin-bottom: 15px;
  display: inline-block;
}
#about .about-me .text-box .text .name span {
  font-size: 24px;
}
@media (max-width: 1100px) {
  #about .about-me .text-box .text .name span {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  #about .about-me .text-box .text .name span {
    font-size: 12px;
  }
}
#about .about-me .text-box .text p {
  font-size: 20px;
  padding: 2px;
}
@media (max-width: 1100px) {
  #about .about-me .text-box .text p {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  #about .about-me .text-box .text p {
    font-size: 10px;
  }
}
#about .about-me .text-box .more {
  width: 100px;
  margin-left: auto;
}
#about .about-me .text-box .more a {
  display: inline-block;
  width: 100%;
  text-align: left;
  border-radius: 0;
}
#about .about-me .text-box .more a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
  transition: all 0.3s;
  background: #C9D6DF;
}
#about .about-me .text-box .more a:after {
  right: 0;
  bottom: 0;
}
#about .about-me .text-box .more a:hover:after {
  width: 0;
  opacity: 0.6;
}

.about-me .text-box .text .name, .about-me .text-box .text p {
  opacity: 0;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
.about-me .text-box .text .name.scroll-in, .about-me .text-box .text p.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
.about-me .text-box .text .name.scroll-in:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #C9D6DF;
  animation: border_anim 0.8s linear forwards;
}
.about-me .text-box .more {
  opacity: 0;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
.about-me .text-box .more.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

#about .about-contents .swiper-area {
  max-width: 1000px;
  margin: 0 auto 0;
}
@media (max-width: 1100px) {
  #about .about-contents .swiper-area {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  #about .about-contents .swiper-area {
    max-width: 600px;
  }
}
@media (max-width: 580px) {
  #about .about-contents .swiper-area {
    max-width: 200px;
  }
}
#about .about-contents .swiper-area .swiper {
  height: 400px;
  overflow: visible;
  position: relative;
}
#about .about-contents .swiper-area .swiper .swiper-wrapper {
  height: auto;
}
#about .about-contents .swiper-area .swiper .swiper-wrapper .swiper-slide {
  height: auto;
  position: relative;
}
#about .about-contents .swiper-area .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
#about .about-contents .swiper-area .swiper .swiper-wrapper .swiper-slide .swiper-title {
  position: absolute;
  font-size: 20px;
  color: #52616B;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%);
}
#about .about-contents .swiper-area .swiper .swiper-wrapper .swiper-slide:not(.swiper-slide-visible) {
  pointer-events: none;
  opacity: 0.3;
}
#about .about-contents .swiper-area .swiper .swiper-wrapper .swiper-slide-active {
  animation: emphasis 2.5s ease-out infinite;
  opacity: 1;
}
#about .about-contents .swiper-area .swiper .swiper-button-next,
#about .about-contents .swiper-area .swiper .swiper-button-prev {
  position: absolute;
  top: 50%;
}
#about .about-contents .swiper-area .swiper .swiper-button-next:after,
#about .about-contents .swiper-area .swiper .swiper-button-prev:after {
  position: absolute;
  content: "" !important;
  width: 0;
  height: 0;
  border-style: solid;
  top: -50%;
}
#about .about-contents .swiper-area .swiper .swiper-button-next {
  right: 25px;
}
#about .about-contents .swiper-area .swiper .swiper-button-next::after {
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #C9D6DF;
  left: 100%;
}
#about .about-contents .swiper-area .swiper .swiper-button-prev {
  left: 25px;
}
#about .about-contents .swiper-area .swiper .swiper-button-prev::after {
  border-width: 16px 20px 16px 0;
  border-color: transparent #C9D6DF transparent transparent;
  right: 100%;
}

@keyframes emphasis {
  0%, 40%, 60%, 80% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}
#skills .skills-box .study-box {
  display: flex;
}
#skills .skills-box .study-box .before-me {
  width: 40%;
}
#skills .skills-box .study-box .study {
  width: 50%;
  margin: auto 0;
  text-align: center;
}
#skills .skills-box .study-box .study p {
  font-size: 28px;
  font-weight: bold;
  padding: 2px;
  opacity: 0;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
#skills .skills-box .study-box .study p:last-child {
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
#skills .skills-box .study-box .study p.scroll-in:last-child::before {
  animation: fadeInArrow 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
#skills .skills-box .study-box .study p.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
#skills .skills-box .study-box .after-me {
  width: 40%;
  opacity: 0;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
#skills .skills-box .study-box .after-me.scroll-in {
  opacity: 1;
}
#skills .skills-box .skills-title {
  margin: 50px 0 0 20px;
  font-size: 28px;
  text-align: left;
  opacity: 0;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
#skills .skills-box .skills-list {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  align-items: center;
  margin-top: 50px;
  opacity: 0;
  overflow: hidden;
  transition-duration: 1600ms;
  transition-property: opacity, transform;
}
#skills .skills-box .skills-list li {
  width: 12%;
  transform: translate(0, 130%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
#skills .skills-box .skills-title.scroll-in, #skills .skills-box .skills-list.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
#skills .skills-box .skills-title.scroll-in li, #skills .skills-box .skills-list.scroll-in li {
  transform: translate(0, 0);
}
#skills .skills-box .skills-title.scroll-in li:nth-child(2), #skills .skills-box .skills-list.scroll-in li:nth-child(2) {
  transition-delay: 0.3s;
}
#skills .skills-box .skills-title.scroll-in li:nth-child(3), #skills .skills-box .skills-list.scroll-in li:nth-child(3) {
  transition-delay: 0.6s;
}
#skills .skills-box .skills-title.scroll-in li:nth-child(4), #skills .skills-box .skills-list.scroll-in li:nth-child(4) {
  transition-delay: 0.9s;
}
#skills .skills-box .skills-title.scroll-in li:nth-child(5), #skills .skills-box .skills-list.scroll-in li:nth-child(5) {
  transition-delay: 1.2s;
}
#skills .skills-box .skills-title.scroll-in li:nth-child(6), #skills .skills-box .skills-list.scroll-in li:nth-child(6) {
  transition-delay: 1.5s;
}
#skills .skills-box .skills-title.scroll-in:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #C9D6DF;
  animation: border_anim 1.3s linear forwards;
}

@keyframes fadeInArrow {
  100% {
    transform: translateX(100%);
  }
}
footer {
  background-color: rgba(240, 245, 249, 0.5);
  margin-top: 50px;
  padding: 30px 0 30px 0;
}
footer .footer-box {
  display: flex;
  justify-content: space-between;
}
footer .footer-box p {
  padding-left: 20px;
}
footer .footer-box .icon-box {
  display: flex;
}
footer .footer-box .icon-box i {
  font-size: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=style.css.map */