// loading

@import './minxin';

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #C9D6DF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  #following-dot{
    width: 100px;
    height: 100px;
    margin: 500px auto;
    // background-color: #fff;
    position: relative;
    // transition-property: opacity, transform;
    // transition-duration: 15s;
    animation: sk-chase 2.5s infinite linear both;
    .dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; 
      animation: sk-chase-dot 2.0s infinite ease-in-out both; 
      &:before{
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: #fff;
        border-radius: 100%;
        animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
      }
      // @for $i from 1 through 6 {
      //   &:nth-child(#{$i}) {
      //     $delay: -1.2 + ($i * 0.1)s;
      //     transition-delay: $delay;
      //   }
      //   &:before{
      //   $delay: -1.2 + ($i * 0.1)s;
      //   transition-delay: $delay;
      //   }
      // }
    }
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


// header
header{
  position: fixed;
  width: 100%;
  z-index: 50;
}

#page-header {
  opacity: 0;
  margin: 0 auto;
  padding: 24px;
  background-color: rgb(240, 245, 249, 0.5);
  font-size: 16px;
    ul{
      display: flex;
      justify-content: space-around;
    }
}
#page-header.-delay{
  animation: fadeInUp 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

// header display表示　animation
@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


// main

.main-img{
  position: relative;
  z-index: 10;
  #title{
    display: flex;
    overflow: hidden;
    font-size: 70px;
    position: absolute;
    text-align: center;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #52616B;
    font-weight: bold;
    letter-spacing: 6px;
    z-index: 30;
    @include pc {
      font-size: 50px;
    }
    @include sp {
      font-size: 20px;
    }
    span{
      display: block;
      transform: translate(0, 105%);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      @for $i from 1 through 17 {
        &:nth-child(#{$i + 1}) {
          $delay: $i * 0.07 + s;
          transition-delay: $delay;
        }
      }
    }
  }
  img{
    opacity: 0;
    z-index: 20;
  }
  img.-delay{
    animation: fadeIn 5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
  #title.-visible{
    span{
      transform: translate(0, 0);
    }
  }
}
 
// img display表示　animation

@keyframes fadeIn {
  0% {
    // transform: scale(0.1);
    opacity: 0;
  }
  100% {
    opacity: 0.6;
    // transform: scale(1);
  }
}


// section 共通

// section title
.section-title{
  font-size: 40px;
  letter-spacing: 1px;
  display: inline-block;
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
  transform: translate(-50px,0);
  @include pc {
    font-size: 30px;
  }
  @include sp {
    font-size: 26px;
  }
}
.section-title.scroll-in{
  opacity: 1;
  transform: translate(0,0);
}
.section-title.scroll-in:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #52616B;
  animation: border_anim 0.5s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

// about textまで

#about{
  overflow: hidden;
  .about-me{
    font-size: 30px;
    display: flex;
    justify-content: center;
    @include pc {
      font-size: 20px;
    }
    @include tab {
      font-size: 16px;
    }
    @include sp {
      display: block;
    }
    img{
      width: 40%;
      @include sp {
        width: 80%;
      }
    }
    .text-box{
      width: 50%;
      margin: auto 0;
      @include sp {
        width: 90%;
        margin: 0 auto;
      }
      .text{
        text-align: left;
        margin-bottom: 15px;
        @include sp {
          text-align: center;
        }
        .name{
          margin-bottom: 15px;
          display: inline-block;
          span{
            font-size: 24px;
            @include pc {
              font-size: 16px;
            }
            @include tab {
              font-size: 12px;
            }
          }
        }
        p{
          font-size: 20px;
          padding: 2px;
          @include pc {
            font-size: 14px;
          }
          @include tab {
            font-size: 10px;
          }
        }
      }
      .more{
        width: 100px;
        margin-left: auto;
        a{
          display: inline-block;
          width: 100%;
          text-align: left;
          border-radius: 0;
        }
        a:after {
          position: absolute;
          width: 100%;
          height: 2px;
          content: '';
          -webkit-transition: all .3s;
          transition: all .3s;
          background: #C9D6DF;
        }  
        a:after {
          right: 0;
          bottom: 0;
        }
        a:hover:after {
          width: 0;
          opacity: 0.6;
        }
      }
    }
  }
}

// about text スクロール後に表示
.about-me{
  .text-box{
    .text{
      .name, p{
        opacity: 0;
        transition-duration: 1600ms;
        transition-property: opacity, transform;
      }
      .name.scroll-in,p.scroll-in{
        opacity: 1;
        transform: translate(0,0);
      }
      .name.scroll-in:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid #C9D6DF;
        animation: border_anim 0.8s linear forwards; //border_anim section-titleのところに
      }
    }
    .more{
      opacity: 0;
      transition-duration: 1600ms;
      transition-property: opacity, transform;
    }
    .more.scroll-in{
      opacity: 1;
      transform: translate(0,0);
    }
  }
}

// about swiper

#about{
  .about-contents{
    // margin: 50px 0;
    .swiper-area{
      max-width: 1000px;
      margin: 0 auto 0;
      @include pc {
        max-width: 800px;
      }
      @include tab {
        max-width: 600px;
      }
      @include sp {
        max-width: 200px;
      }
      .swiper {
        // max-width: 500px;
        height: 400px;
        overflow: visible;
        position: relative;
        .swiper-wrapper {
          height: auto;
          .swiper-slide {
            height: auto;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
            .swiper-title{
              position: absolute;
              font-size: 20px;
              color: #52616B;
              left: 50%;
              bottom: -10%;
              transform: translate(-50%);
            }
          }
          .swiper-slide:not(.swiper-slide-visible){
            pointer-events: none;
            opacity: .3;
          }
          .swiper-slide-active{
            animation: emphasis 2.5s ease-out infinite;
            opacity: 1;            
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          position: absolute;
          top: 50%;
          &:after {
            position: absolute;
            content: "" !important;
            width: 0;
            height: 0;
            border-style: solid;
            top: -50%;
          }
        }
        .swiper-button-next {
          right: 25px;
          &::after {
            border-width: 16px 0 16px 20px;
            border-color: transparent transparent transparent #C9D6DF;
            left: 100%;
          }
        }
        .swiper-button-prev {
          left: 25px;
          &::after {
            border-width: 16px 20px 16px 0;
            border-color: transparent #C9D6DF transparent transparent;
            right: 100%;
          }
        }
      }
    }
  }
}

// swiperのanimation

@keyframes emphasis {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}


// skills

// skills-list

#skills{
  .skills-box{
    .study-box{
      display: flex;
      // justify-content: center;
      .before-me{
        width: 40%;
        
      }
      .study{
        width: 50%;
        margin: auto 0;
        text-align: center;
        p{
          font-size: 28px;
          font-weight: bold;
          padding: 2px;
          opacity: 0;
          transition-duration: 1600ms;
          transition-property: opacity, transform;
          @include pc {
            font-size: 20px;
          }
        }
        p:last-child{
          opacity: 0;
          overflow: hidden;
          position: relative;
          transition-duration: 1600ms;
          transition-property: opacity, transform;
        }
        p.scroll-in:last-child::before{
          animation: fadeInArrow 1s cubic-bezier(.4, 0, .2, 1) forwards;
          background: #fff;
          bottom: 0;
          content: '';
          left: 0;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
          // z-index: 1;
        }
        p.scroll-in{
          opacity: 1;
          transform: translate(0,0);
        }
      }
      .after-me{
        width: 40%;
        opacity: 0;
        transition-duration: 1600ms;
        transition-property: opacity, transform;
      }
      .after-me.scroll-in{
        opacity: 1;
      }
    }
    .skills-title{
      margin: 50px 0 0 20px;
      font-size: 28px;
      text-align: left;
      // width: 10%;
      opacity: 0;
      transition-duration: 1600ms;
      transition-property: opacity, transform;
    }
    .skills-list{
      display: flex;
      justify-content: space-around;
      gap: 100px;
      align-items: center;
      margin-top: 50px;
      opacity: 0;
      overflow: hidden;
      transition-duration: 1600ms;
      transition-property: opacity, transform;
      li{
        width: 12%;
        transform: translate(0, 130%);
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      }
    }
    .skills-title.scroll-in, .skills-list.scroll-in{
      opacity: 1;
      transform: translate(0,0);
      li{
        transform: translate(0, 0);
        @for $i from 1 through 5 {
          &:nth-child(#{$i + 1}) {
            $delay: $i * 0.3 + s;
            transition-delay: $delay;
          }
        }
      }
    }
    .skills-title.scroll-in:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 2px solid #C9D6DF;
      animation: border_anim 1.3s linear forwards;
    }
  }
}

@keyframes fadeInArrow {
  100% {
    transform: translateX(100%);
  }
}


// CONTACT
footer{
  background-color: rgb(240, 245, 249, 0.5);
  margin-top: 50px;
  padding: 30px 0 30px 0;
  .footer-box{
    display: flex;
    justify-content: space-between;
    p{
      padding-left: 20px;
    }
    .icon-box{
      display: flex;
      i{
        font-size: 20px;
        padding-right: 20px;
      }
    }
  }
}